body {
	font-family: 'Nanum Gothic', sans-serif;
	background: #00B4DB;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #0083B0, rgb(1, 148, 181));  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #0083B0, rgb(1, 148, 181)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

header {
	font-size: 30px;
	padding: 20px;
	text-align: center;

	img {
		width: 250px;
	}
}

#movies {
	display: flex;
    flex-direction: column;
    justify-content: center;
	width: 100%;
}

.carousel {
	color: black;
	text-align: center;
	margin-top: 30px;
	padding: 10px;
	background: rgba(255,255,255,0.0);
	transition: all 1500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
	background-position-y: 0%;
	
	&.selected {
		transition: all 1500ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
		background: rgba(255,255,255,0.3);
		background-position-y: 100%;
	}

	h2 {
		font-size: 20px;
		text-transform: capitalize;
		font-weight: bold;
		color: white;
		margin-bottom: 10px;
		margin-top: 10px;
	}
}

asset {
	width: 156px;
	height: 240px;
	background-color: grey;
	display: inline-block;
	position: relative;
	transition: all 300ms ease; 
	margin: 10px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid rgba(255,255,255,1);

	.overlay {
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.0);
		transition: all 1500ms cubic-bezier(0.860, 0.000, 0.070, 1.000); /* easeInOutQuint */
		pointer-events: none;
	}
}

asset:after {
	content: attr(data-title);
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(0, 0, 0, .70);
	color: white;
	height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-left: 5px;
	padding-right: 5px;
}

asset.selected {
	border: 1px solid rgba(0,0,0,0.6);

	.overlay {
		background-color: rgba(255, 255, 255, 0.5);
	}
}

carousel {
	display: block;
}